* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif ;
    background-color: #F4F4F4 !important;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 115vh;
}

/* Estilo de la letra del Banner */
.Banner{
    position: absolute;
    top: 30px;
    left: 150px;
    color: white;
}

/* Estilo de imagen del Banner */
.banner{
    width: 100%;
    height: auto;
}

/* Mensaje de error del Login*/
.Error{
    color:red; 
    font-size:24px; 
    text-align: center;
    position: relative;
    margin-top: -40px;
    top: -190px;
}

/* Form de inicio de sesión */
.form{
    display:block;
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    background-color:#fff;
    border:1px solid #d1d3e2;
    border-radius:.35rem;
}

/* Div de inicio de sesión */
.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color:#fff;
    border-radius: 15px;
    padding:.375rem .75rem;
    
}

/* h2 de inicio de sesión */
.formulario h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #646464;
}


.formulario-crear {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color:#fff;
    border-radius: 15px;
    padding:.375rem .75rem;
    
}

div {
    font-size: 17px;
    margin-bottom: 10px;
}

input {
    padding: 12 px 5 px;
    border: 1px solid #646464;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fafafc;
    outline: none;
    font-size: 25px;
}

/* cambiar color si hay una foto seleccionada */
#nombre-archivo {
    color: red;
}

/* Estilos para el texto del archivo seleccionado */
#nombre-archivo.archivo-seleccionado {
    color: black;
}

/* Estilo de botones */
.btn1 {
    font-size: 18px;
    width: 150px;
    transform: translate(60%, 40%);
    background-color: #2CA6D6;
    border: 1px solid #2CA6D6;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}


.btn2 {
    font-size: 18px;
    width: 150px;
    background-color: #07739e;
    border: 1px solid #07739e;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.btn3 {
    font-size: 16px;
    width: 150px;
    transform: translate(60%, 50%);
    background-color: #1c41e6;
    border: 1px solid #2124d1;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius:.50rem;
}

.btn4 {
    font-size: 18px;
    width: 150px;
    transform: translate(60%, 40%);
    background-color: #2CA6D6;
    border: 1px solid #2CA6D6;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    left: 200px;
}

.btn5 {
    font-size: 18px;
    width: 150px;
    transform: translate(180%, 70%);
    background-color: #2CA6D6;
    border: 1px solid #2CA6D6;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    left: 200px;
}

.btn1:hover {
    background-color: #66CDEF;
}

.btn2:hover {
    background-color: #08a4d8;
}

.btn3:hover {
    background-color: #1316a0;
}

.btn4:hover {
    background-color: #66CDEF;
}

/* Posición de botones */
.form-group .btn1 {
    top: 50%;
    left: 50%;
    transform: translate(240%, -50%);
}

/* Link para cambio de Inicio de sesión */
.LinkUsu {
    display: flex;
    justify-content: space-between;
    float:left;
    padding: 15px;
    color: black;
    text-decoration: none;
}

.Recordar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    float:right;
    color: black;
    text-decoration: none;
}

/* Comentarios de Crear solicitud */
textarea {
    box-sizing: border-box;
    font: 12px arial;
    height: 100px;
    margin: 5px 0 15px 0;
    padding: 5px 2px;
    width: 100%;  
  }

/* Pie de página */
.footer{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: auto;
    color: #fff;
    background-color: #DDDDDE;
}

/* Formato de Link */
.Link{
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    color: #e2e1e1;
    display: block;
    cursor: pointer;
    transition: .4s;
}

/* Formato de quien es el Usuario */
.Usu{
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
    color: #e2e1e1;
    display: flex;
    align-items: center;
}

.Usu .p{
    margin-bottom: -4px;
}

/* Encabezado */
.nav-sup {
    min-height: 80px;
    background: #212529;
}

.nav-2{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    top: 10px;
}

.nav-2 .h2{
    right: 300px;
    top: 10px;
}

.nav-sup .div_menu .list_Button{
    position: relative;
    margin-left: 200px;
}

.nav-sup .div_menu .list{
    position: relative;
    margin-left: 100px !important;
}

.nav-2 h2{
    font-size: 20px;
    color: #EDEDED;
    text-transform: uppercase;
    margin-top: 25px;
    margin-right: 400px;

}

.ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.ul li a{
    text-decoration: none;
    display: flex;

}

.nav-sup .div_menu ul li a:hover{
    color: #ffffff;
}

.menu, .cerrar {
    display: none;
}

/* Tabla de registros de Solicitudes */
table {
    color: #38393a;
    font-size: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    max-width: 250px;
    font-size: 15px;
    border: solid 2px gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.Solicitud{
    cursor: pointer;
}

.center{
    display:flex;
    align-self: center;
    justify-content: center;
}

tbody tr:hover{
    background: #eeeded;
    transition: .4s;
}

/* Imagen del usuario */
.img{
    background-color: #07739e;
    color: white;
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 3px;
    transform: translate(30%, 40%);
}

/* Imagen del usuario en la pantalla perfil*/
.imgs{
    background-size: cover;
    width:225px;
    height: 225px;
}

/* Donde se agrega la imagen no se nota el input */
.image{
    display: none;
}

/* Recortar el input */
.tamano {
    width: 200px !important;
}

.position {
    width: 250px !important;
    position: relative;
    left: 250px;
}

@media only screen and (max-width: 600px) {
    /* Estilos específicos para pantallas pequeñas */

    .formulario {
        transform: translate(-50%, -80%);
    }

    .formulario-crear{
        transform: translate(-50%, -55%);
    }

    .Banner{
        font-size: calc(1em + 1vw);
        top: 5px;
        left: 30px;
    }
    
    .container1{
        padding: 20px;
        flex: 1;
    }

    .footer img {
        max-height: 80px;
        margin-bottom: 10px;
    }

    th{
        font-size: 9px;
        text-justify: auto;
    }

    td{
        font-size: 10px;
    }

    .imgs{
        width:125px;
        height: 125px;
    }

    .form-control{
        width:300px !important;
    }
    
    .nav-sup .Link{
        font-size: 14px;
        margin: 5px 0;
        flex: 1;
        text-decoration: none;
    }

    .h2{
        display: none;
    }   
    
    .Link {
        padding: 0;
        transform: translateY(30px);
    }

    .Usu {
        transform: translateY(10px);
    }

    .btn4 {
        transform: translate(-80%, 0%);
    }

    .btn5 {
        transform: translate(-80%, -20%);
    }
}